.home_mailing{
  height: 50px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 0px;
  box-shadow: none;
  outline: none;
  padding: 0px 20px;
  font-size: 16px;
  color: #7f7f7f;
  font-family: "Poppins", sans-serif;
}

.btn-email{
    height: 54px;
    border: none !important;
    background: #F69D9D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 50px;
  }
  .footer_image{
    width: 30%;
    margin-left: 40px;
  }
  @media (max-width: 500px){
    .footer_image{
      width: 20%;
      margin-left: 0px;
    }
}
.mail_name{
  width: 50%;
  margin-left: 90px;
}