/*----------------------------------------------------
@File: Default Styles
@Author: Rocky
@URL: http://wethemez.com
Author E-mail: rockybd1995@gmail.com

This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.
---------------------------------------------------- */
/*=====================================================================
@Template Name: Cerative Agency
@Author: Rocky
@Developed By: Rocky
@Developer URL: http://rocky.wethemez.com
Author E-mail: rockybd1995@gmail.com

@Default Styles

Table of Content:
01/ Variables
02/ predefin
03/ header
04/ banner
05/ slider
06/ feature
07/ button
08/ service
09/ testimonials 
10/ blog 
11/ contact 
12/ footer 
=====================================================================*/
/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Poppins:300,400,500,600,700,800,900");
.col-md-offset-right-1, .col-lg-offset-right-1 {
  margin-right: 8.33333333%; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.row.m0 {
  margin: 0px; }

.p0 {
  padding: 0px; }

body {
  line-height: 26px;
  font-size: 14px;
  font-family: "Poppins", sans-serif; }

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px; }

#success {
  display: none; }

#error {
  display: none; }

.display_table {
  display: table;
  width: 100%; }

.display_table_row {
  display: table-row; }

.display_table_cell {
  display: table-cell;
  float: none !important; }

.p_100 {
  padding: 50px 0px; }

iframe {
  border: none; }

i:before {
  margin-left: 0px !important; }

/* Container Custome Code css
============================================================================================ */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px; } }

/* End Container Custome Code css
============================================================================================ */
/* Main title css
============================================================================================ */
.main_title h2 {
  font-size: 40px;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  color: #232d37;
  font-weight: 500; }

.main_title p {
  font-size: 16px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-top: 15px; }

.center_title {
  color: #fff;
  text-align: center;
  padding-bottom: 40px; }
  .center_title h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }
  .center_title p {
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    padding-top: 10px; }

.b_center_title {
  text-align: center;
  padding-bottom: 50px; }
  .b_center_title h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #232d37; }
  .b_center_title p {
    font-size: 16px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    padding-top: 10px;
    color: #51545f; }

/* Main title css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Main Menu Area css
============================================================================================ */
.navbar-light .navbar-nav .nav-link {
  color: #fff; }
  .navbar-light .navbar-nav .nav-link:focus {
    color: #fff; }

.main_menu_area {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 30;
  padding: 0px 75px;
  /*border-bottom: 1px solid #626571; */
  }
  .main_menu_area .navbar {
    padding: 0px;
    background-color: transparent !important; }
    .main_menu_area .navbar .navbar-collapse {
      text-align: right; 
      /* height: 200%; */
    }
      @media (min-width: 992px) {
        .main_menu_area .navbar .navbar-collapse {
          display: block !important;
         } }
    .main_menu_area .navbar .navbar-nav {
      display: inline-block; }
      .main_menu_area .navbar .navbar-nav li {
        display: inline-block;
        margin-right: 50px; }
        .main_menu_area .navbar .navbar-nav li a {
          padding: 0px;
          line-height: 99px;
          color: #fff;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          transition: all 400ms linear 0s; }
        .main_menu_area .navbar .navbar-nav li:last-child {
          margin-right: 0px; }
        .main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
          color: #2bc0a4; }
        @media (min-width: 992px) {
          .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
            transition: all 300ms ease-out;
            transform: scaleY(0);
            display: block;
            transform-origin: 50% 0;
            min-width: 246px;
            background: #fff;
            border-radius: 0px;
            border: none;
            top: 99%;
            padding: 25px 0px 30px 0px;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25); } }
        .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li {
          display: block;
          margin-right: 0px; }
          .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
            padding: 0px 25px;
            line-height: 50px;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 14px;
            text-shadow: none;
            line-height: 42px;
            color: #232d37;
            transition: all 400ms linear 0s;
            text-transform: capitalize; }
            .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a:before {
              display: none; }
          .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li:hover a {
            color: #2bc0a4; }
        @media (min-width: 992px) {
          .main_menu_area .navbar .navbar-nav li.submenu:hover.submenu .dropdown-menu {
            transform: scaleY(1); } }
    .main_menu_area .navbar .navbar-nav.justify-content-end {
      margin-left: 85px; }
      .main_menu_area .navbar .navbar-nav.justify-content-end li {
        margin-right: 25px; }
        .main_menu_area .navbar .navbar-nav.justify-content-end li a {
          font-size: 16px; }
        .main_menu_area .navbar .navbar-nav.justify-content-end li:last-child {
          margin-right: 0px; }
  .main_menu_area.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease; }
    .main_menu_area.navbar_fixed .navbar .navbar-nav li a {
      line-height: 70px; }

/* End Main Menu Area css
============================================================================================ */
/* End Main Menu Area css
============================================================================================ */
.search_area {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 100%;
  z-index: 40;
  background: #fff;
  padding: 0px 110px;
  transition: all 300ms ease-out; }
  .search_area .search_inner {
    position: relative; }
    .search_area .search_inner:before {
      content: "";
      height: 34px;
      width: 4px;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background: #2bc0a4; }
    .search_area .search_inner input {
      border: none;
      border-radius: 0px;
      width: 100%;
      padding: 0px 32px 0px 10px;
      height: 98px;
      outline: none;
      box-shadow: none;
      font-size: 36px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif;
      line-height: 98px;
      font-weight: normal; }
      .search_area .search_inner input.placeholder {
        font-size: 36px;
        color: #b5aec4;
        font-family: "Poppins", sans-serif;
        line-height: 98px;
        font-weight: normal; }
      .search_area .search_inner input:-moz-placeholder {
        font-size: 36px;
        color: #b5aec4;
        font-family: "Poppins", sans-serif;
        line-height: 98px;
        font-weight: normal; }
      .search_area .search_inner input::-moz-placeholder {
        font-size: 36px;
        color: #b5aec4;
        font-family: "Poppins", sans-serif;
        line-height: 98px;
        font-weight: normal; }
      .search_area .search_inner input::-webkit-input-placeholder {
        font-size: 36px;
        color: #b5aec4;
        font-family: "Poppins", sans-serif;
        line-height: 98px;
        font-weight: normal; }
    .search_area .search_inner i {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      color: #2bc0a4;
      font-size: 30px;
      cursor: pointer; }
  .search_area.open {
    top: 0px; }

/* End Main Menu Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Banner Area css
============================================================================================ */
.banner_area {
  background: url(../img/img_meet_seyi.jpg) no-repeat scroll center center;
  background-size: cover;
  position: relative;
  min-height: 600px; }
  .banner_area:before {
    content: "";
    background: rgba(4, 8, 29, 0.7);
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%; }

.banner_text_inner {
  text-align: center;
  position: relative;
  padding-top: 200px;

}
  .banner_text_inner h4 {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding-bottom: 10px; }
  .banner_text_inner ul li {
    display: inline-block;
    margin-right: 15px; }
    .banner_text_inner ul li a {
      color: #fff;
      transition: all 400ms linear 0s; }
      .banner_text_inner ul li a i {
        position: relative;
        left: -10px;
        transition: all 400ms linear 0s; }
    .banner_text_inner ul li:hover a {
      color: #2bc0a4; }
  .banner_text_inner h5 {
    font-size: 18px;
    color: #fff;
    font-family: "Poppins", sans-serif; }

/* End Banner Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Slider Area css
============================================================================================ */
.main_slider_area #main_slider ul li .slider_button .bg_btn {
  display: inline-block;
  line-height: 46px !important;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 7px; }

.main_slider_area #main_slider ul li .slider_button .tp_btn {
  display: inline-block;
  text-transform: uppercase; }

/* End Slider Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Creative Feature Area css
============================================================================================ */
.creative_feature_area {
  background: #f7f7f7; }

.c_feature_box {
  box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1);
  border-radius: 2px;
  background: #fff;
  padding: 45px 0px;
  margin-top: -100px;
  z-index: 22;
  position: relative; }
  .c_feature_box .col-lg-4:last-child .c_box_item:before {
    display: none; }

.c_box_item {
  padding: 0px 35px 0px 40px;
  position: relative; }
  /* .c_box_item:before {
    content: "";
    background: #e5e5e5;
    height: 145px;
    width: 1px;
    position: absolute;
    right: -15px;
    top: 0px; 
  } */
  .c_box_item h4 {
    font-size: 20px;
    color: #232d37;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 10px;
    transition: all 400ms linear 0s; }
    .c_box_item h4 i {
      padding-right: 10px;
      color: #2bc0a4; }
    .c_box_item h4:hover {
      color: #2bc0a4; }
  .c_box_item p {
    font-size: 14px;
    line-height: 26px;
    color: #51545f;
    font-family: "Poppins", sans-serif; }

.d_feature_text .main_title {
  padding-bottom: 20px; }

.d_feature_text p {
  font-size: 14px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  line-height: 26px;
  padding-bottom: 12px; }
  .d_feature_text p + p {
    padding-bottom: 0px; }

.d_feature_text .read_btn {
  margin-top: 34px; }

.d_feature_img {
  padding-left: 0px; }

/* End Creative Feature Area css
============================================================================================ */
/* Industries Area css
============================================================================================ */
.industries_area {
  overflow: hidden;
  padding-top: 100px;
  display: flex; }

.left_indus {
  width: calc(50% + 85px);
  float: left;
  text-align: right;
  overflow: hidden;
  display: flex; }

.right_indus {
  width: calc(50% - 85px);
  float: right; }

.indus_img {
  text-align: right;
  padding-right: 85px;
  flex: 1;
  align-self: center; }
  .indus_img img {
    max-width: 100%; }

.indus_text {
  max-width: 500px; }
  @media (min-width: 1500px) {
    .indus_text {
      padding-top: 80px; } }
  .indus_text .read_btn {
    width: 180px;
    margin-top: 60px; }

.our_skill_inner {
  margin-top: 45px; }
  .our_skill_inner .single_skill {
    margin-bottom: 30px; }
    .our_skill_inner .single_skill h3 {
      color: #232d37;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 14px;
      padding-bottom: 6px; }
    .our_skill_inner .single_skill .progress {
      height: 8px;
      border-radius: 0px;
      background: #e5e5e5;
      overflow: visible; }
      .our_skill_inner .single_skill .progress .progress-bar {
        background-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
        background-image: -moz-linear-gradient(180deg, #20d497 0%, #744fff 100%);
        background-image: -ms-linear-gradient(180deg, #20d497 0%, #744fff 100%);
        position: relative;
        overflow: visible;
        background-color: transparent; }
        .our_skill_inner .single_skill .progress .progress-bar .progress_parcent {
          position: absolute;
          right: 0px;
          top: -25px;
          color: #232d37;
          font-size: 14px;
          font-family: "Poppins", sans-serif;
          font-weight: 500; }
    .our_skill_inner .single_skill:last-child {
      margin-bottom: 0px; }

/* End Industries Area css
============================================================================================ */
/* Project Area css
============================================================================================ */
.project_area {
  background: url(../img/project-bg.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 3;
  padding: 115px 0px; }
  .project_area:before {
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
    background: rgba(4, 8, 29, 0.7); }

.project_inner .tp_btn {
  margin-top: 5px; }

/* End Project Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Border Button Area css
============================================================================================ */
.read_btn {
  height: 46px;
  width: 160px;
  line-height: 48px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  text-align: center;
  position: relative;
  background-size: 200% auto;
  z-index: 2;
  display: block;
  transition: all 400ms ease-out; }
  .read_btn:before {
    content: "";
    background: #f7f7f7;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 98%;
    height: 42px;
    z-index: -1;
    transition: all 400ms linear 0s; }
  .read_btn:hover {
    background-position: right center;
    color: #232d37; }

.tp_btn {
  height: 46px;
  width: 165px;
  text-align: center;
  color: #fff;
  border-width: 2px;
  border-style: solid;
  border-image: -moz-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image: -ms-linear-gradient(180deg, #20d497 0%, #744fff 100%);
  border-image-slice: 1;
  display: block;
  line-height: 42px;
  transition: all 400ms ease-out;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  z-index: 3;
  margin: auto; }
  .tp_btn:after {
    content: "";
    height: 46px;
    width: 165px;
    position: absolute;
    left: -2px;
    top: -2px;
    border-width: 2px;
    border-style: solid;
    border-image: -moz-linear-gradient(180deg, #744fff 0%, #20d497 100%);
    border-image: -webkit-linear-gradient(180deg, #744fff 0%, #20d497 100%);
    border-image: -ms-linear-gradient(180deg, #744fff 0%, #20d497 100%);
    border-image-slice: 1;
    transition: all 400ms ease-out;
    z-index: -1;
    opacity: 0; }
  .tp_btn:hover {
    color: #fff; }
    .tp_btn:hover:after {
      opacity: 1; }

.bg_btn {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  width: 160px;
  height: 46px;
  line-height: 46px;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  transition: all 400ms ease-out !important;
  background-size: 200% auto;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block; }
  .bg_btn:hover {
    background-position: right center;
    color: #fff; }
  .bg_btn:focus {
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
    transition: all 400ms ease-out !important;
    background-size: 200% auto; }

.more_btn {
  color: #2bc0a4;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
  line-height: 26px;
  transition: all 400ms linear 0s; }
  .more_btn:hover {
    text-decoration: none;
    color: #2bc0a4; }

.submit_btn {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0px 10px;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  transition: all 400ms ease-out;
  background-size: 200% auto;
  border: none;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 3px;
  cursor: pointer; }
  .submit_btn:hover {
    background-position: right center;
    color: #fff; }
  .submit_btn:focus {
    background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%) !important;
    transition: all 400ms ease-out;
    background-size: 200% auto; }

.submit_btn2 {
  height: 46px;
  width: 165px;
  line-height: 46px;
  color: #232d37;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #744fff 0%, #21d397 51%, #744fff 100%);
  text-align: center;
  position: relative;
  background-size: 200% auto;
  z-index: 2;
  display: block;
  transition: all 400ms ease-out;
  padding: 0px;
  border-radius: 2px;
  outline: none !important;
  box-shadow: none !important;
  cursor: pointer; }
  .submit_btn2:before {
    content: "";
    background: #f7f7f7;
    position: absolute;
    left: 2px;
    top: 2px;
    width: 97.5%;
    height: 40px;
    z-index: -1;
    transition: all 400ms linear 0s; }
  .submit_btn2:hover {
    background-position: right center;
    color: #232d37; }

/* End Border Button Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Our Service Area css
============================================================================================ */
.service_area {
  background: url(../img/project-bg.jpg) no-repeat fixed center center;
  background-size: cover;
  position: relative;
  z-index: 2;
  padding: 115px 0px; }
  .service_area:before {
    content: "";
    background: rgba(4, 8, 29, 0.7);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    width: 100%;
    height: 100%; }

.service_item {
  text-align: center;
  color: #fff; }
  .service_item i {
    background-image: -moz-linear-gradient(180deg, #20d497 0%, #744fff 100%);
    background-image: -webkit-linear-gradient(180deg, #20d497 0%, #744fff 100%);
    background-image: -ms-linear-gradient(180deg, #20d497 0%, #744fff 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px; }
  .service_item h4 {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    padding: 18px 0px 12px 0px; }
  .service_item p {
    font-size: 14px;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    max-width: 360px;
    margin: auto; }

/* End Our Service Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Testimonials Area css
============================================================================================ */
.testimonials_slider .item img {
  width: auto !important; }

.testimonials_slider .item .media {
  vertical-align: middle; }
  .testimonials_slider .item .media .d-flex {
    vertical-align: middle;
    align-self: center; }
  .testimonials_slider .item .media .media-body {
    padding-left: 100px;
    vertical-align: middle;
    padding-right: 40px; }
    .testimonials_slider .item .media .media-body p {
      font-size: 18px;
      color: #51545f;
      line-height: 30px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      padding: 35px 0px 20px 0px; }
    .testimonials_slider .item .media .media-body h4 {
      font-size: 14px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif;
      font-weight: 400; }
      .testimonials_slider .item .media .media-body h4 a {
        font-size: 16px;
        color: #232d37;
        font-family: "Poppins", sans-serif;
        font-weight: 500; }

.testimonials_slider .owl-prev, .testimonials_slider .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  color: #b5aec4;
  z-index: 4;
  cursor: pointer; }

.testimonials_slider .owl-prev {
  left: -80px; }

.testimonials_slider .owl-next {
  right: -80px; }

/* End Testimonials Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Latest News Area css
============================================================================================ */
.l_news_item {
  transition: all 400ms linear 0s; }
  .l_news_item .l_news_img {
    overflow: hidden; }
    .l_news_item .l_news_img a {
      display: block; }
    .l_news_item .l_news_img img {
      transition: all 400ms linear 0s; }
      .l_news_item .l_news_img img:hover {
        transform: scale(1.05); }
  .l_news_item .l_news_content {
    border: 1px solid #ebebeb;
    border-top: 0px;
    padding: 30px 35px; }
    .l_news_item .l_news_content h4 {
      font-size: 18px;
      color: #232d37;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      transition: all 400ms linear 0s; }
      .l_news_item .l_news_content h4:hover {
        color: #2bc0a4; }
    .l_news_item .l_news_content p {
      font-size: 14px;
      line-height: 26px;
      color: #51545f;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      padding: 15px 0px 10px 0px; }
  .l_news_item:hover {
    box-shadow: 0px 25px 49px 0px rgba(58, 74, 88, 0.1); }

/* Latest News Area css
============================================================================================ */
/* Static Area css
============================================================================================ */
.static_area {
  padding: 100px 0px; }

.static_main_content {
  position: relative; }
  .static_main_content .static_social {
    position: absolute;
    left: -60px;
    top: 0px; }

.static_social ul li {
  margin-bottom: 20px; }
  .static_social ul li a {
    height: 30px;
    width: 30px;
    text-align: center;
    background: #4c65a8;
    color: #fff;
    display: block;
    border-radius: 50%;
    line-height: 30px; }
  .static_social ul li:nth-child(2) a {
    background: #41a1f6; }
  .static_social ul li:nth-child(3) a {
    background: #f43535; }
  .static_social ul li:nth-child(4) a {
    background: #8f6247; }
  .static_social ul li:nth-child(5) {
    margin-bottom: 0px; }
    .static_social ul li:nth-child(5) a {
      background: #f0c605; }

.static_text {
  padding-top: 35px;
  padding-bottom: 15px; }
  .static_text p {
    font-size: 16px;
    line-height: 26px;
    color: #51545f;
    font-family: "Poppins", sans-serif; }
    .static_text p:last-child {
      padding-top: 15px; }

.static_text2 h3 {
  font-size: 24px;
  color: #1e1e27;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.static_text2 p {
  font-size: 16px;
  line-height: 26px;
  color: #51545f;
  font-family: "Poppins", sans-serif;
  padding-top: 13px; }

.media {
  margin: 30px 0px; }
  .media .d-flex h6 {
    font-family: "Playfair Display", serif;
    font-size: 100px;
    color: #2bc0a4;
    line-height: 75px; }
  .media .media-body {
    padding-left: 32px; }
    .media .media-body p {
      font-size: 18px;
      line-height: 26px;
      color: #1e1e27;
      font-family: "Poppins", sans-serif; }
    .media .media-body h5 {
      font-size: 14px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif;
      padding-top: 15px; }
      .media .media-body h5 a {
        font-size: 16px;
        color: #232d37;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        transition: all 400ms linear 0s; }
        .media .media-body h5 a:hover {
          color: #2bc0a4; }

.right_sidebar_area {
  padding-left: 20px; }

.right_widget {
  margin-bottom: 45px; }

.r_w_title {
  padding-bottom: 20px; }
  .r_w_title h3 {
    font-size: 22px;
    color: #1e1e27;
    font-family: "Poppins", sans-serif;
    font-weight: 500; }

.r_news_widget .news_inner .news_item {
  border-bottom: 1px solid #eeeef0;
  padding-bottom: 14px;
  margin-bottom: 15px; }
  .r_news_widget .news_inner .news_item h4 {
    font-size: 16px;
    line-height: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #1e1e27;
    padding-bottom: 7px;
    transition: all 400ms linear 0s; }
    .r_news_widget .news_inner .news_item h4:hover {
      color: #2bc0a4; }
  .r_news_widget .news_inner .news_item h6 {
    font-size: 14px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }
  .r_news_widget .news_inner .news_item:last-child {
    margin-bottom: 0px; }

.r_cat_widget ul li {
  margin-bottom: 12px; }
  .r_cat_widget ul li a {
    font-size: 16px;
    color: #1e1e27;
    font-family: "Poppins", sans-serif;
    transition: all 400ms linear 0s;
    padding-left: 20px;
    position: relative; }
    .r_cat_widget ul li a:before {
      content: "";
      height: 8px;
      width: 8px;
      border-radius: 50%;
      background: #2bc0a4;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 400ms linear 0s; }
  .r_cat_widget ul li:hover a {
    color: #2bc0a4; }
    .r_cat_widget ul li:hover a:before {
      left: 5px; }

.r_tag_widget ul {
  margin-right: -9px; }
  .r_tag_widget ul li {
    display: inline-block;
    margin-bottom: 9px;
    margin-right: 6px; }
    .r_tag_widget ul li a {
      font-size: 12px;
      color: #51545f;
      font-family: "Poppins", sans-serif;
      background: #ebebeb;
      display: inline-block;
      padding: 0px 20px;
      text-transform: uppercase;
      line-height: 30px;
      transition: all 400ms linear 0s; }
    .r_tag_widget ul li:last-child {
      margin-bottom: 0px;
      margin-right: 0px; }
    .r_tag_widget ul li:hover a {
      color: #2bc0a4; }

/* End Static Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Contact Us Area css
============================================================================================ */
/* .contact_us_area {
  padding: 110px 0px; 
} */

.mapBox {
  min-height: 520px;
  box-shadow: 0px 27px 51.33px 7.67px rgba(0, 0, 0, 0.15); }

.contact_details_inner {
  padding-top: 15px;
  padding-bottom: 15px;

}

.contact_text .contact_d_list {
  margin-top: 40px; }
  .contact_text .contact_d_list .contact_d_list_item {
    margin-bottom: 22px; }
    .contact_text .contact_d_list .contact_d_list_item a {
      font-size: 16px;
      color: #51545f;
      font-family: "Poppins", sans-serif;
      display: block; }
    .contact_text .contact_d_list .contact_d_list_item p {
      font-size: 16px;
      color: #51545f;
      font-family: "Poppins", sans-serif;
      display: block;
      line-height: 24px; }
    .contact_text .contact_d_list .contact_d_list_item:last-child {
      margin-bottom: 0px; }

.contact_text .static_social {
  margin-top: 40px; }
  .contact_text .static_social .main_title {
    padding-bottom: 25px; }
  .contact_text .static_social ul li {
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 0px; }
    .contact_text .static_social ul li:last-child {
      margin-right: 0px; }

.contact_form .main_title {
  padding-bottom: 40px; }

.contact_us_form .form-group {
  margin-bottom: 20px; }
  .contact_us_form .form-group input {
    height: 50px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    padding: 0px 20px;
    font-size: 16px;
    color: #7f7f7f;
    font-family: "Poppins", sans-serif; 
  }
    .contact_us_form .form-group input.placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group input:-moz-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group input::-moz-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group input::-webkit-input-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group input:focus {
      border-color: #7f7f7f; }
  .contact_us_form .form-group textarea {
    height: 150px;
    width: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 0px;
    box-shadow: none;
    outline: none;
    padding: 15px 20px;
    font-size: 16px;
    color: #7f7f7f;
    font-family: "Poppins", sans-serif;
    resize: none; }
    .contact_us_form .form-group textarea.placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group textarea:-moz-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group textarea::-moz-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group textarea::-webkit-input-placeholder {
      font-size: 16px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif; }
    .contact_us_form .form-group textarea:focus {
      border-color: #7f7f7f; }
  .contact_us_form .form-group:last-child {
    margin-bottom: 0px;
    margin-top: 10px; }

/* End Contact Us Area css
============================================================================================ */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

/**
 * Fade-move animation for second dialog
 */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-20px) perspective(600px) rotateX(10deg);
  transform: translateY(-20px) perspective(600px) rotateX(10deg); }

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  -ms-transform: translateY(0) perspective(600px) rotateX(0);
  -o-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0); }

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  -o-transform: translateY(-10px) perspective(600px) rotateX(10deg);
  transform: translateY(-10px) perspective(600px) rotateX(10deg); }

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
  opacity: 0.8; }

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
  opacity: 0; }

/* End Search Popup Area css
============================================================================================ */
/* Contact Success and error Area css
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%; }
  .modal-message .modal-dialog .modal-content .modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 50px; }
    .modal-message .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: -15px;
      top: -15px;
      padding: 0px;
      color: #fff;
      opacity: 1;
      cursor: pointer; }
    .modal-message .modal-dialog .modal-content .modal-header h2 {
      display: block;
      text-align: center;
      color: #2bc0a4;
      padding-bottom: 10px; }
    .modal-message .modal-dialog .modal-content .modal-header p {
      display: block; }

/* End Contact Success and error Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_widgets_area {
  background: #131627;
  overflow: hidden;
  padding: 80px 0px; }

.f_w_title {
  padding-bottom: 25px; }
  .f_w_title h3 {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 16px; }

.subscribe_widget p {
  font-size: 14px;
  line-height: 26px;
  color: #b5aec4;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  padding-bottom: 20px; }

.subscribe_widget .input-group input {
  background: #2b2e3d;
  border: none;
  outline: none;
  box-shadow: none;
  height: 40px;
  border-radius: 3px;
  font-size: 12px;
  color: #b5aec4;
  font-family: "Poppins", sans-serif;
  padding: 0px 15px; }
  .subscribe_widget .input-group input.placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }
  .subscribe_widget .input-group input:-moz-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }
  .subscribe_widget .input-group input::-moz-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }
  .subscribe_widget .input-group input::-webkit-input-placeholder {
    font-size: 12px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }

.subscribe_widget ul {
  padding-top: 30px; }
  .subscribe_widget ul li {
    display: inline-block;
    margin-right: 32px; }
    .subscribe_widget ul li a {
      font-size: 14px;
      color: #b5aec4;
      transition: all 400ms linear 0s; }
    .subscribe_widget ul li:hover a {
      color: #2bc0a4; }
    .subscribe_widget ul li:last-child {
      margin-right: 0px; }

.twitter_widget {
  margin-left: 55px; }
  .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text {
    font-size: 14px;
    line-height: 26px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif; }
    .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text i {
      padding-right: 5px;
      color: #2bc0a4; }
    .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text a {
      font-size: 14px;
      line-height: 26px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif;
      transition: all 400ms linear 0s; }
      .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_text a:hover {
        color: #2bc0a4; }
  .twitter_widget .tweets_feed ul .owl-item .tw_content .tweet_date {
    font-size: 14px;
    line-height: 26px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif;
    padding-top: 15px; }
  .twitter_widget .tweets_feed ul .owl-item .footer .tweet_time.fright a {
    font-size: 14px;
    line-height: 26px;
    color: #2bc0a4;
    font-family: "Poppins", sans-serif; }

.categories_widget {
  margin-left: 70px; }
  .categories_widget ul {
    width: calc(100% / 2);
    float: left;
    margin-top: -4px; }
    .categories_widget ul li a {
      position: relative;
      font-size: 14px;
      color: #b5aec4;
      font-family: "Poppins", sans-serif;
      line-height: 36px;
      transition: all 400ms linear 0s; }
      .categories_widget ul li a i {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 400ms linear 0s; }
    .categories_widget ul li:hover a {
      padding-left: 15px;
      color: #2bc0a4; }
      .categories_widget ul li:hover a i {
        opacity: 1; }

.contact_widget {
  margin-left: 50px; }
  .contact_widget a, .contact_widget p, .contact_widget h6 {
    font-size: 14px;
    color: #b5aec4;
    font-family: "Poppins", sans-serif;
    transition: all 400ms linear 0s; }
    .contact_widget a:hover, .contact_widget p:hover, .contact_widget h6:hover {
      color: #2bc0a4; }
  .contact_widget p {
    padding: 23px 0px; }

.copy_right_area {
  background: #04081d;
  overflow: hidden; }
  .copy_right_area .float-md-left h5 {
    color: #51545f;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    line-height: 50px; }
    .copy_right_area .float-md-left h5 a {
      transition: all 400ms linear 0s;
      color: #51545f;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      line-height: 50px; }
      .copy_right_area .float-md-left h5 a:hover {
        color: #2bc0a4; }
  .copy_right_area .float-md-right .nav li {
    margin-right: 35px; }
    .copy_right_area .float-md-right .nav li a {
      padding: 0px;
      line-height: 50px;
      font-size: 14px;
      color: #51545f;
      transition: all 400ms linear 0s; }
    .copy_right_area .float-md-right .nav li:last-child {
      margin-right: 0px; }
    .copy_right_area .float-md-right .nav li:hover a {
      color: #2bc0a4; }

/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */
