/* Banner Area css
============================================================================================ */
.banner_area{
    background: url(../img/img_meet_seyi.jpg) no-repeat scroll center center;
    background-size: cover;
    position: relative;
    min-height: 600px;
    &:before{
        content: "";
        background: rgba(4, 8, 29, .7);
        position: absolute;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.banner_text_inner{
    text-align: center;
    position: relative;
    padding-top: 200px;
    h4{
        color: #fff;
        font-size: 48px;
        font-weight: 500;
        font-family: $pop; 
        padding-bottom: 10px;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 15px;
            a{
                color: #fff;
                @include transition;
                i{
                    position: relative;
                    left: -10px;
                    @include transition;
                }
            }
            &:hover{
                a{
                    color: $baseColor;
                }
            }
        }
    }
    h5{
        font-size: 18px;
        color: #fff;
        font-family: $pop;
    }
}

/* End Banner Area css
============================================================================================ */